@charset "UTF-8";
/* CSS Document */

.grid-frame{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

#bx1{
	grid-column: 1/2;
}

#bx1, #bx2 ,#bx3{
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

#bx2{
	grid-column: 2/4;
	text-align: center;
	padding-top: 40px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

#hem:hover{
	background-color: black;
	color: white;
}
#omOss:hover{
	background-color: black;
	color: white;
}
#sortiment:hover{
	background-color: black;
	color: white;
}
#kontakt:hover{
	background-color: black;
	color: white;
}

#bx2 li{
	list-style: none;
	display: inline
}

#bx3{
	padding-top: 40px;
	grid-column: 4/5;
	text-align: right;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

#bx3 li{
	list-style: none;
	display: inline;
	
}

#bx4{
	grid-column: 1/4;
	grid-row: 2/5;
	height: 667;
	width: 1000px;
	display: flex;
	justify-content: center;
}

#bx5{
	grid-column: 4/5;
	height: 667px;
	background-color: ghostwhite
	
}

#logo{
	width: 200px;
	height: 200px;
}

h3{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

p{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.flex-container{
	display: flex;
	background-color: black;
	align-self: stretch;
}

.flex-container > div {
  background-color: black;
  color: white;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}
.fa-facebook{
	background-color: white;
	width: 25px;
	padding: 10px;
}

.flex-container > div{
  background-color: #f1f1d2;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}

.footer-container{
	display: flex;
	flex-direction: row;
	background-color: black;
}
.footer-container > div{
	background-color: black;
	margin: 10px;
  	padding: 20px;
  	font-size: 20px;
	color: white;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}
